@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-side, .right-side, .left-menu, .note-section {
  padding: 20px;
}

.label{
  width: 25%;
  height: 8vh;
  background-color: #2755B2;
  border-radius: 50px 50px 0px 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

input {
  width: 30vw;
  height: 8vh;
  padding-left: 85px;
  border-radius: 50px;
  border: none;
}

button {
  padding: 50px 170px;
  background-color: #213787;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
}

button:hover {
  background-color: #2754B2;
}

.LoginScreen {
  background: linear-gradient(to top, #2754B2, #FFFFFF);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ladoEsquerdo {
  left: 0;
  top: 0;
  width: 40%;
  position: fixed;
  height: 100%;
  background-color: #E3EFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
} 

.ladoEsquerdo h1{
  text-align: center;
  color: #213787;
  font-family: Arial, Helvetica, sans-serif;
}

.ladoDireito {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.botaoLogin {
  background-color: #2755B2;
  height: 10vh;
  border-radius: 50px;
}

.backgroundEntrar {
  width: 80%;
  height: 3vh;
  background-color: #0B4ED7;
  opacity: 40%;
  border-radius: 0 0 20px 20px;
}

.botaoCadastro {
  background-color: #509CEF;
  height: 10vh;
  border-radius: 50px;
}

.backgroundCadastro {
  width: 80%;
  height: 3vh;
  background-color: #3572EF;
  border-radius: 0 0 20px 20px;
}

/*************************************** Página de Notas ************************************************************/



.nota3 {
  height: 40vh;
  width: 20vw;
  background-color: #BCDDFF;
  transform: rotate(-8deg);
  border-radius: 25px;
  display: flex;
  position: absolute;
  border-width: 0.3vw;
  border-style: solid;
  border-color: #020075;
  margin-right: 5vw;
}

.nota2 {
  height: 40vh;
  width: 20vw;
  background-color: #FFFFD2;
  transform: rotate(-12deg);
  border-radius: 25px;
  display: flex;
  position: absolute;
  border-width: 0.3vw;
  border-style: solid;
  border-color: #020075;
  margin-right: -4vw;
  margin-top: 10vh;
}

.nota1 {
  height: 40vh;
  width: 20vw;
  background-color: #FEFEFF;
  border-radius: 25px;
  display: flex;
  position: absolute;
  border-width: 0.3vw;
  border-style: solid;
  border-color: #020075;
  margin-bottom: 6vh;
}

.nota {
  display: grid;
  place-items: center;
  margin-top: 13%;
}

.pin {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  border-width: 0.3vw;
  border-style: solid;
  border-color: #020075;
  background-color: #FFFFD2;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.botao-container {
  display: flex; 
  justify-content: center;
  margin-top: 350px;
  gap: 50px;
}