@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-side, .right-side, .left-menu, .note-section {
  padding: 20px;
}

.label{
  width: 25%;
  height: 8vh;
  background-color: #2755B2;
  border-radius: 50px 50px 0px 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

input {
  width: 30vw;
  height: 8vh;
  padding-left: 85px;
  border-radius: 50px;
  border: none;
}

button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.LoginScreen {
  background: linear-gradient(to top, #2754B2, #FFFFFF);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ladoEsquerdo {
  left: 0;
  top: 0;
  width: 40%;
  position: fixed;
  height: 100%;
  background-color: #E3EFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
} 

.ladoEsquerdo h1{
  text-align: center;
  color: #213787;
  font-family: Arial, Helvetica, sans-serif;
}

.ladoDireito {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.botaoLogin {
  background-color: #2755B2;
  height: 10vh;
  border-radius: 50px;
}

.backgroundEntrar {
  width: 80%;
  height: 3vh;
  background-color: #0B4ED7;
  opacity: 40%;
  border-radius: 0 0 20px 20px;
}

.botaoCadastro {
  background-color: #509CEF;
  height: 10vh;
  border-radius: 50px;
}

.backgroundCadastro {
  width: 80%;
  height: 3vh;
  background-color: #3572EF;
  border-radius: 0 0 20px 20px;
}

.nota3 {
  height: 50px;
  width: 50px;
  background-color: red;
  transform: rotate(137deg);
}