@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-side, .right-side, .left-menu, .note-section {
  padding: 20px;
}

.label{
  width: 25%;
  height: 8vh;
  background-color: #2755B2;
  border-radius: 50px 50px 0px 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

input {
  width: 30vw;
  height: 8vh;
  padding-left: 85px;
  border-radius: 50px;
  border: none;
}

button {
  padding: 30px 170px;
  background-color: #213787;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 100px;
  height: 10vh;
}

button:hover {
  background-color: #2754B2;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: x-large;
  text-align: center;
}

.LoginScreen {
  background: linear-gradient(to top, #2754B2, #FFFFFF);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ladoEsquerdo {
  left: 0;
  top: 0;
  width: 40%;
  position: fixed;
  height: 100%;
  background-color: #E3EFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
} 

.ladoEsquerdo h1{
  text-align: center;
  color: #213787;
  font-family: Arial, Helvetica, sans-serif;
}

.ladoDireito {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.botaoLogin {
  background-color: #2755B2;
  height: 10vh;
  border-radius: 50px;
}

.backgroundEntrar {
  width: 80%;
  height: 3vh;
  background-color: #0B4ED7;
  opacity: 40%;
  border-radius: 0 0 20px 20px;
}

.botaoCadastro {
  background-color: #509CEF;
  height: 10vh;
  border-radius: 50px;
}

.backgroundCadastro {
  width: 80%;
  height: 3vh;
  background-color: #3572EF;
  border-radius: 0 0 20px 20px;
}

/*************************************** Página de Notas *********************************************/

.nota3 {
  height: 40vh;
  width: 20vw;
  background-color: #BCDDFF;
  transform: rotate(-8deg);
  border-radius: 25px;
  display: flex;
  position: absolute;
  border-width: 0.3vw;
  border-style: solid;
  border-color: #020075;
  top: 605px;
  left: 165%;
}

.nota2 {
  height: 40vh;
  width: 20vw;
  background-color: #FFFFD2;
  transform: rotate(-12deg);
  border-radius: 25px;
  display: flex;
  position: absolute;
  border-width: 0.3vw;
  border-style: solid;
  border-color: #020075;
  margin-right: -4vw;
  top: 100px;
  left: 174%;
}

.nota1 {
  height: 40vh;
  width: 20vw;
  background-color: #FEFEFF;
  border-radius: 25px;
  display: flex;
  position: absolute;
  border-width: 0.3vw;
  border-style: solid;
  border-color: #020075;
  bottom: 550px;
  left: 175%;
}

.notas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

.nota {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pin {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  border-width: 0.3vw;
  border-style: solid;
  border-color: #020075;
  background-color: #FFFFD2;
  position: absolute;
  top: 15vh;
  left:54%;
  transform: translateX(-50%);
  z-index: 1;
}

.botao-container {
  display: flex; 
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 150px;
  gap: 50px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #BBCAE7;
  align-items: end;
}

.logoSimples {
  display: flex;
}

.input-responder {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.responderInput {
  width: 540px;
  height: 11vh;
  padding: 10px 40px 10px 25px;
  border: 4px solid #1F55C6;
  background-color: #7FB3FF;
  color: #1F55C6;
  border-radius: 15px;
  font-size: 22px;
  outline: none;
  display: flex;
  margin-left: -200%;
  margin-bottom: 18%;
}

.icon-enviar {
  position: absolute;
  right: 580px;
  bottom: 150px;
  font-size: 40px;
  cursor: pointer;
  color: #213787;
}

.pop-square {
  width: 540px;
  height: 10.5vh;
  background-color: #7FB3FF;
  border: 4px solid #1F55C6;
  color: #1F55C6;
  border-radius: 15px;
  margin-top: 20px;
  position: absolute;
  top: 81%;
  left: 55%;
  opacity: 0;
  transform: translateX(-50%);
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
  opacity: 1;
  transform: scale(1); 
}

.fade-out {
  opacity: 0;
  transform: scale(0.8);
}

.voltar {
  height: 50px;
  width: 50px;
  position: absolute;
  margin-bottom: 30%;
  margin-left: 2%;
}

.avancar {
  height: 50px;
  width: 50px;
  position: absolute;
  margin-bottom: 30%;
  margin-left: 80%;
}