@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.LoginScreen {
    background: linear-gradient(to top, #2754B2, #FFFFFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ladoEsquerdo {
    left: 0;
    top: 0;
    width: 40%;
    position: fixed;
    height: 100%;
    background-color: #E3EFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.ladoEsquerdo h1 {
    text-align: center;
    color: #213787;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #2754B2;
}

.ladoDireito {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoLogin {
    padding: 30px 170px;
    background-color: #213787;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 100px;
    height: 10vh;
}

/* .backgroundEntrar {
    width: 80%;
    height: 3vh;
    background-color: #0B4ED7;
    opacity: 40%;
    border-radius: 0 0 20px 20px;
} */

.botaoCadastro {
    padding: 30px 170px;
    background-color: #509CEF;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 10vh;
}

/* .backgroundCadastro {
    width: 80%;
    height: 3vh;
    background-color: #3572EF;
    border-radius: 0 0 20px 20px;
} */