body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #e0ecff, #a0c4ff);
    color: #333;
}
input{
    font-size: 36px; /* Altere para o tamanho desejado */
    color: #000000; /* Cor do placeholder (opcional) */
    font-family: Arial, sans-serif; /* Fonte do placeholder (opcional) */
}
